body{
    margin-left:auto;
    margin-right:auto;
    width:1600px;
    font-family: "Roboto";
    color: #919191;
}

.acceul{
   position: relative;
   display: inline-block;
}
.slogan {                                               /*text web designer je appelle slogan*/
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: xx-large;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 50%;
        width: 40%;
        text-align: center;
        border-bottom: solid;
        border-top: solid;
}
.button{                                                  /*button learn more*/
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 60%;
    width: 15%;
    text-align: center;
    
   
}
.acceul a {
        border: solid 1px white;
}
.lien1{
    position: relative;
    display: inline-block;

    
}

.barmenu{                                                 /*je cree un menu avec */
        background-color: #252e30;
        height: 44px;
        width: 1600px;
        margin-top: -20px;
}

.barmenu a {
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;

}
.barmenu a:hover {
    color: #2ecc71;
}
.menu { 
    margin-left: 250px;
    
}
.logo {
    float: left;
}
.values h2,.goals h2,.hobbies h2{                               /*je creer une class pour determine les hobbies*/
    font-size: 30px;
    line-height: 24px;
    color: #566366;
    font-family: "Roboto";
    font-weight: 700;
}
.values {
    width: 33%,33;
    float: left;

}
.goals {   
    width:33%,33;
    display: inline-block;
}
.hobbies {   
    width: 33%,33;
    float: right;
}

.testicon{
    font-size: 20px;
    line-height: 22px;
    color: #566366;
    font-weight: 700;
    color:black;
          
}

.value-hobby {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-bottom:40px;
}
.aboutmeimg{                                           /*image section about me*/
    float:left;
    width: 33%;
    background-image: url(image/img\ -\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 600px;
    
}
.aboutmeimg:hover {                                     /*2image section aboutme*/
    float:left;
    width: 33%;
    background-image: url(image/img\ -\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 600px;

}
.text{
    float:right;
    width: 66%;
    padding-left:50px;
}
.submenu{
    display: grid;
    grid-template-columns: 33% 33% ;
}

.icon4{
    padding-top:20px;
    float:left;
    width: 20%;
}
.icon2{
    padding-top:20px;
    float:left;
    width: 20%;
}

.icon{
    padding-top: 20px;
    float:left;
    width: 20%;
}
.icon3{
    padding-top: 20px;
    float:left;
    width: 20%;
}

.aboutme{
    display: table;
    width: 100%;
    color:#191f21;
    background-color: #f2f2f1;

}

.myskills {                                                                 /*page my skills*/
    margin-top:40px;
    display: grid;
    grid-template-columns: 50% 50%;
    color:#191f21;
}
* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ddd;
  text-align: right;
  color:#191f21;
  
}

.skills {
    padding: 5px;
}

.sondage{
  padding-top: 10px;
  padding-bottom: 10px;
 
}
 .sondage div p{
    color:#191f21;

 }
                                                         /*page avec competenes*/
.photoshop{width: 90%; background-color: #2ecc71;}
.illustrator {width: 80%; background-color: #2ecc71;}
.html_css {width: 90%; background-color: #2ecc71;}
.php_mysql {width: 70%; background-color: #2ecc71;}

.contactme{
    color: #2ecc71;
    font-weight: bold;
    border: solid 1px green;
    padding: 10px 10px;
    text-decoration: none;
    
}
.myski p:nth-child(3) {
    margin-bottom: 50px;
}
.resume {
    margin-top:30px;
    padding: 2% 3%;
    background-color: #f2f2f1;
    text-align: center;
    
}
p{ 
    font-size: 16px;
    line-height: 30px;
    color: #919191;
    font-family: "Roboto";
    font-weight: 400;
}
.downloadresume{
    font-size: 18px;
    line-height: 24px;
    color: #2ecc71;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
    border: solid 1px green;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
}
.education {                                                                      /*3sieme page*/
    float:left;
    width: 50%;
    margin-bottom: 40px;
    color: #566366;
    margin-top:20px;

}
.my-education {
    border-bottom: 1px solid;
    display: table;
    margin-top:40px;
}
.workexperience{
    display: table;
}
.design{
    float:right;
    color: #566366;
    width: 50%;
    margin-top:30px;
    
}

.design div div{
    color:#fff;
    width: 71px;
    height: 25px;
    background-color: #2ecc71;
    text-align: center;
    padding-top: 4px;
}

.design div p{
    border-top: 1px solid ;
}
.design span{
    margin-top:40px;
    width: 560px;
    height: 233px;
    font-size: 18px;
    line-height: 30px;
    color: #919191;
    font-family: "Roboto";
    font-weight: 500;
       
}

.stonecit{                                                                 /*cit stone*/
    text-align: center;
    
    
}
.john_stone{
    background-color: #f2f2f1;
    height: 250px;
    font-size: 16px;
    line-height: 36px;
    color: #566366;
    font-family: "Roboto";
    text-align: center;
    padding: 3% 4%;
    margin-top:30px;
    font-weight: bold;

}                       
                                                    /*page portfolio*/
.portfolioimg{
    width: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding:100px;

}

.portfolioimg div img {
    width: 366px;
    height: 300px;

}

.folio{
    text-align: center;
    margin-top:100px;
    line-height: 24px;
    color: #566366;
    font-family: "Roboto";
    font-weight: 700;
    
}

.folio h1{
    text-transform: uppercase;
}

.contactmedown{                                                       /*dernier section contactme*/
    background-color: #252e30;
      display:grid;
    grid-template-columns: 50% 50%;
    padding: 2% 3%;;
}

.container2{
    float:right;
    background-color: #252e30;
}

.contactmedown div h2{
    color:white;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    resize: vertical;
    background-color: #4b5456;
    border: none;
    color:#fff;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #191f21;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
  
  .col-25 {
    margin-top: 6px;
  }
  
  .col-75 {
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
.submitbutton {   
    padding-top: 30px;
}
.subject {
    height: 250px;
}
